* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
	background: linear-gradient(135deg, #845ec2, #b39cd0);
	min-height: 100vh;
}

.add-task-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.todo-app {
	width: 100%;
	max-width: 54rem;
	margin: 10rem auto 2rem;
	padding: 4rem 3rem;
	border-radius: 1rem;
	background: linear-gradient(to right, #ece9e6, #ffffff);
	box-shadow: rgba(0, 0, 0, 0.15) 0rem 0.2rem 0.8rem;
}

.todo-app h1,h4 {
	color: #4f1787;
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.todo-app i {
	margin-right: 1rem;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 3rem;
	padding-left: 2rem;
	margin-bottom: 2.5rem;
	background-color: #f5f5f7;
}

input {
	flex: 1;
	border: none;
	outline: none;
	background-color: transparent;
	padding: 1rem;
}

button {
	border: none;
	outline: none;
	padding: 1.6rem 5rem;
	background-color: #7a1cac;
	color: #f5f7f8;
	font-weight: 800;
	border-radius: 4rem;
	cursor: pointer;
}

.main-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: 1.6rem auto;
	width: 80%;
	color: #bfc9d4;
}

.column {
	width: 100%;
	flex: 1;
	margin: 0 10px;
	position: relative;
	background: linear-gradient(to right, #ece9e6, #ffffff);
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 18px 20px 10.3px -23px rgb(0 0 0 / 15%);	
}

.column-header {
	font-size: 17px;
	justify-content: center;
}

.column-header h4 {
	text-align: center;
	padding-left: 30%;
	padding-top: 10%;
}

.task-list {
	min-height: 3rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 5%;
	padding-top: 0;
}

li {
	list-style-type: none;
}

.column-button {
	text-align: center;
	padding: 0.1rem;
}

.button {
	font-family: "Arimo", sans-serif;
	font-weight: 700;
	border: #000013 0.14rem solid;
	border-radius: 0.2rem;
	color: #000013;
	padding: 0.6rem 1rem;
	margin-bottom: 0.3rem;
	cursor: pointer;
}

.delete-button {
	background-color: #ff4444;
	margin: 0.1rem auto 0.6rem auto;
	padding: 0 1rem;
	height: 3.8rem;
	border-style: none;
	color: white;
}

.delete-button:hover {
	background-color: #fa7070;
}

.add-button {
	background-color: #7a1cac;
	padding: 0 1rem;
	height: 3.8rem;
	width: 10rem;
	margin-top: 0.6rem;
	color: white;
	border-style: none;

}

.add-button:hover {
	background-color: #50C878;
}




.task {
	background: #15B392;
	color: white;
	margin: 0.4rem;
	height: 4rem;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	list-style-type: none;
	transition: all 0.3s;
	cursor: move;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	font-size: 15px;
}


.task p {
	margin: auto;
	padding: 5%;
}




